
.intro {
    background-image: url(/Portfolio/images/desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.card-img-top-me {
    clip-path: circle(37% at 50% 40%);
    position: relative;
    top: 20px;
    height: 65%;
}

.card-body {
    justify-content: center;
    align-items: center;
}
.bio-portion {
    justify-content: space-around;
}
.bio-body {
    width: 50%;
}


.bagel-card {
    width: 60%;
}
